<h1>Market</h1>

<%= form_for @conn, Routes.market_path(@conn, :index), fn f -> %>
  <%= text_input f, :search %>
  <br />
  <%= submit "Search" %>
<% end %>

<hr />
<br />

<%= if assigns[:searched_for] do %>
  <h2>Results For "<%=assigns[:searched_for] %>"</h2>
  <%= assigns[:search_result] %>
<% else %>
  <h2>Search for something to see its price</h2>
<% end %>
