<h1>Minimum Jita Sell Price</h1>

<p>Enter a type_id</p>
<%= form_for @conn, Routes.market_path(@conn, :quicksell), fn f -> %>
  <%= text_input f, :search %>
  <br />
  <%= submit "Search" %>
<% end %>

<hr />
<br />

<%= if assigns[:searched_for] do %>
  <h2>Results For "<%=assigns[:searched_for] %>"</h2>
  <%# raise inspect assigns[:search_result] # TODO ERIC REMOVE %>
  <%= assigns[:search_result] %>
<% else %>
  <h2>Search for something (BYE TYPE_ID SORRY) to see its price</h2>
<% end %>
