<h1>Skill Training Math, using current Jita sell:</h1>

<ul>
  <li>PLEX: <%= @prices.plex_price %></li>
  <li>Extractor: <%= @prices.extractor_price %></li>
  <li>Injector: <%= @prices.injector_price %></li>
</ul>

<h2>Per Month: <%= @prices.monthly_profit %></h2>
