<h1>Saved Items</h1>

<%# TODO ERIC idk use a table %>
<ul>
  <%= for item <- @items do %>
    <li>
      <a href="/market?search=<%= item.name %>"><%= item.name %></a> (type_id: <%= item.type_id %>)gi
    </li>
  <% end %>
</ul>
